# To override in your project skeleton
PROJECT_DIR=/code/src/project/
PROJECT_PACKAGE=project
#
POSTGRES_STARTUP_TIMEOUT=45s
POSTGRES_DB=db
POSTGRES_HOST=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
PGPASSWD=password
#
HOSTNAME=${DJANGO_NAME}
#
FRONT_URL=http://localhost:8080
# Fill with your mapbox access token
MAPBOX_GL_ACCESS_TOKEN=

# PROD
# TERRALEGO_FRONT_DOMAIN="terralego-opp.makina-corpus.net"
# TERRALEGO_BACK_DOMAIN="terralego-opp.makina-corpus.net"
# TERRALEGO_MAIL_DOMAIN="makina-corpus.net"
# FRONT_URL=http://terralego-opp.makina-corpus.net

# This need to be changed in production
SECRET_KEY=ChangeThatSuperSecret

# Minio
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_STARTUP_TIMEOUT=30s
DJANGO__AWS_ACCESS_KEY_ID=minio
DJANGO__AWS_SECRET_ACCESS_KEY=minio123
DJANGO__AWS_STORAGE_BUCKET_NAME=opp
DJANGO__AWS_S3_ENDPOINT_URL=http://minio:9000/
#DJANGO__AWS_S3_HOST=minio
MAILCATCHER_USER=mailcatcher
MAILCATCHER_PASSWORD=mailcatcher
# vim: set ft=sh:
